html
    head
        title=metaTitle
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="theme-color", content="#000000")
        meta(name="msapplication-navbutton-color", content="#000000")
        meta(name="apple-mobile-web-app-status-bar-style", content="#000000")
        link(rel='stylesheet', href='css/styles.css')
        script(src="lib/socket.io.js")
        script(src="lib/chance.min.js")
        script(src="lib/NoSleep.min.js")